snippet "echo'?" "echo " br
echo '${1:helloworld}';
endsnippet


snippet "echo"?" "echo " br
echo "${1:helloworld}";
endsnippet

snippet "php?" "<?php ?>" br
<?php
	${1:}
?>
endsnippet

snippet "echo<?" "echo " br
echo <<<${1:tag}
	${2:content}
$1
endsnippet
